<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<!-- Main -->
	<div id="main" class="alt">

		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>{{ page.title }}</h1>
				</header>
				<!-- {% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}"
						alt="" /></span>{% endif %} -->
                {{ content }}
                <!-- {%for picture in page.image%}
                <div class="image-wrapper">
                    <a href="{{ site.baseurl }}/{{ page.image }}/{{picture}}">
                        <p>text</p>
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/picture">
                    </a>
                </div>
                {% endfor %} -->
                <?php foreach (new DirectoryIterator('{{ site.baseurl }}/{{ page.image }}') as $fileInfo) { ?>
                    <li>
                        <a href="<?php echo $fileInfo->getFilename(); ?>">
                            <p>text</p>
                        </a>
                        <!-- <img src="{{ site.url }}{{ site.baseurl }}/<?php echo $fileInfo->getFilename(); ?>"> -->
                    </li>
                <?php } ?>

		</section>

	</div>

	{% include footer.html %}

</body>

</html>
<!-- <script>
    $(document).ready(function(){
        var dir = "Src/themes/base/images/";
        var fileextension = [".png", ".jpg"];
        $.ajax({
            //This will retrieve the contents of the folder if the folder is configured as 'browsable'
            url: dir,
            success: function (data) {
                //List all .png file names in the page
                $(data).find("a:contains(" + (fileextension[0]) + "), a:contains(" + (fileextension[1]) + ")").each(function () {
                    var filename = this.href.replace(window.location.host, "").replace("http://", "");
                    $("body").append("<img src='" + dir + filename + "'>");
                });
            }
        });
    });
</script> -->