<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<!-- Main -->
	<div id="main" class="alt">

		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>{{ page.title }}</h1>
				</header>
                {{ content }}
                {% include flexgallery %}
                <!-- {%for picture in page.image%}
                <div class="image-wrapper">
                    <a href="{{ site.baseurl }}/{{ page.image }}/{{picture}}">
                        <p>text</p>
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/picture">
                    </a>
                </div>
                {% endfor %} -->
                {% assign image_files = site.static_files | where: "image", true %}
                {% assign num = 0 %}
                {% for myimage in image_files %}
                    <li>
                        <a href="{{ myimage.path }}">
                            <p>{{num}}</p>
                            <img src="{{ myimage.path }}">
                        </a>
                    </li>
                    {% assign num = num | plus:1 %}
                {% endfor %}
                






		</section>

	</div>

	{% include footer.html %}

</body>

</html>
